<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<header>
		<h2>Cities</h2>
	</header>
	<section>
		<nav>
			<ul>
				<li><a href="/app">Todos</a></li>
				<li><a href="/app/about">about</a></li>
				<li><a href="/app/todo">todo</a></li>				
			</ul>
		</nav>
		<article>
			<div id="app"></div>
		</article>
	</section>

	<footer>
		<p>Footer</p>
	</footer>
</body>
</html>
<% for (var js in htmlWebpackPlugin.files.js) { %>
	<script type="module" src="/<%= projectName %>/<%= htmlWebpackPlugin.files.js[js] %>"></script>
<% } %>